<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <View>
        <coordinateX>-0.396007061</coordinateX>
        <coordinateY>-0.687560737</coordinateY>
        <coordinateZ>-0.325639874</coordinateZ>
        <rotationX>28.8000107</rotationX>
        <rotationY>316.000214</rotationY>
        <orthoL>-5.16065979</orthoL>
        <orthoR>6.32739639</orthoR>
        <orthoB>-4.80796099</orthoB>
        <orthoT>3.80808115</orthoT>
    </View>
</Config>
