<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <View>
        <coordinateX>0.345181435</coordinateX>
        <coordinateY>0.75619024</coordinateY>
        <coordinateZ>-4.02959299</coordinateZ>
        <rotationX>-369.599823</rotationX>
        <rotationY>-1076.00012</rotationY>
        <orthoL>-1.22885048</orthoL>
        <orthoR>0.837393284</orthoR>
        <orthoB>-0.758697748</orthoB>
        <orthoT>0.790984988</orthoT>
    </View>
</Config>
