<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <View>
        <coordinateX>-0.14759326</coordinateX>
        <coordinateY>-0.129431725</coordinateY>
        <coordinateZ>0.111021221</coordinateZ>
        <rotationX>7.05287313</rotationX>
        <rotationY>341.397949</rotationY>
        <orthoL>-0.679512382</orthoL>
        <orthoR>0.987742722</orthoR>
        <orthoB>-0.337214053</orthoB>
        <orthoT>0.574166298</orthoT>
        <windowW>1914</windowW>
        <windowH>949</windowH>
    </View>
</Config>
