<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <View>
        <coordinateX>-1.63272357</coordinateX>
        <coordinateY>-0.726776898</coordinateY>
        <coordinateZ>-1.63795257</coordinateZ>
        <rotationX>8.61649323</rotationX>
        <rotationY>322.036957</rotationY>
        <orthoL>-3.7606194</orthoL>
        <orthoR>4.32936096</orthoR>
        <orthoB>-3.79967189</orthoB>
        <orthoT>2.4357183</orthoT>
        <viewportW>1060</viewportW>
        <viewportH>817</viewportH>
    </View>
</Config>
